@import "../Variables.scss";

.input-box {
  padding: 5px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;

  border-radius: 21px;
  background: #d7d7d7;

  input {
    width: 4px;
    border: 0px;
    background-color: inherit;
    margin-left: 5px;
    height: 40px;
    font-size: 35px;

    &:focus {
      background-color: inherit;
      outline: none;
    }
  }
}
