$inputBoxHeight: 40px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.input-box {
  height: ($inputBoxHeight);
  background-color: aliceblue;
  margin: 20px;
  border: beige 1px solid;
  border-radius: 7px;
  display: flex;
  
  .selected-items {
    display: flex;
    border: 1px solid black;
    width: 200px;
    margin: 1px;
    padding: 2px;
    border-radius: 3px;

    img {
      @include border-radius(50%);

      height: ($inputBoxHeight - 8);
      margin: 1px;
    }
    .remove {
      margin: 2px;
      padding: 2px; 
      width: 20px;
    }
  }
}
